@charset "utf-8";
/* CSS Document */

body{
margin:0px; 
padding:0px;
background:url(../Images/background_bg.jpg) repeat-x;
font-family:Arial, Helvetica, sans-serif;
}

img{border:none;}
.clr{clear:both;}
.ht10{height:10px;}
.leftSide{float:left;}
.rightSide{float:right;}

.wrapper{
margin:0px auto;
padding:0px;
width:1000px;
}

.header{
height:114px;
margin:0px; 
padding:0px;
}
.logo{float:left; width:200px;}

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
	margin-top:40px;
	z-index:100;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    background:#ffffff; 
    border:1px solid #cacaca; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#loginButton span {
    color:#0c8dc5; 
    font-size:14px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 25px 9px 10px;
    background:url(../Images/loginArrow.png) no-repeat 60px 9px;
    display:block
}

#loginButton:hover {
    background:#ffffff;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:60px -78px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#ffffff;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid #cacaca;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#ffffff;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf;
	background-image: -ms-linear-gradient(top, #59ACEA 0%, #0197D8 100%);
	background-image: -moz-linear-gradient(top, #59ACEA 0%, #0197D8 100%);
	background-image: -o-linear-gradient(top, #59ACEA 0%, #0197D8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #59ACEA), color-stop(1, #0197D8));
	background-image: -webkit-linear-gradient(top, #59ACEA 0%, #0197D8 100%);
	background-image: linear-gradient(top, #59ACEA 0%, #0197D8 100%);
    color:#fff;
	font-size:13px;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}

.banner{
margin:0px;
padding:0px;
height:421px;
}
.homeBannerText{
	 width:400px;
	 height:201px;
	 margin:65px 0px 0px 0px;
	 position:absolute;
	 z-index:100;
	 border:0px solid #000;
	 background:url(../img/home-banner-text.png) no-repeat 0 0;

}

.iconScroll{background:url(../Images/home-scroll-icons-bg.jpg) no-repeat 0 0; height:82px; border-bottom:1px solid #d5d5d5; text-align:center; padding-top:5px;}  

.logTextBox{
border:1px solid #dbdbdb;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color:#676767;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
padding:4px 5px;
width:240px;
}
.forgotPass{font-size:13px; color:#FFFFFF; text-decoration:none; padding:7px 10px; display:block; float:left;}

.body_container{
margin:20px 0px;
padding:0px;
}
.homeBanner{
background:#ee010b;
border:2px solid #ee010b;
-moz-box-shadow:    5px 5px 5px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.homeBannerLeft{
background:#ffffff;
width:448px;
float:left;
padding:25px 25px;
text-align:center;
}
.homeBannerLeft a{
color:#ee010b;
font-family:Arial, Helvetica, sans-serif; 
font-size:40px;
font-weight:400;
text-decoration:none;
letter-spacing:-1px;
}
.homeBannerRight{
width:448px;
float:right;
padding:25px 25px;
text-align:center;
}
.homeBannerRight a{
color:#ffffff;
font-family:Arial, Helvetica, sans-serif; 
font-size:40px;
font-weight:400;
text-decoration:none;
letter-spacing:-1px;
}
.homeBannerLeft a:hover, .homeBannerRight a:hover{text-decoration:underline;}
.footer_container{
position:relative;
margin:0px;
padding:0px;

background:url(../Images/footer_bg.jpg) repeat-x;
}
.footer{
width:1000px;
margin:0px auto;
padding:15px 0;
}
.footer .footLeft{float:left; width:200px; padding-top:5px;}
.footer .footRight{float:right; width:700px;}
.social{margin:0; padding:0; list-style-type:none; float:right;}
.social li{float:left; margin-left:6px;}

/* ------------------ Internal Page CSS --------------------------------- */

#main{
margin:0px;
padding:0px;
width:100%;
}

.header_internal{
height:70px;
background:#0033CC url(../Images/Portal_images/logo_left_bg.png) no-repeat top left;
margin:0px;
padding:0px;
}
.error{
	background:#d7c487;
	padding:7px 5px;
	border:1px solid #e8d495;
	font-size:13px;	 
	color:#8c0000;
	font-weight:bold;
	text-shadow:1px 1px 1px #ecdca8;
	margin: 5px 0;
	display:block;
	text-align:center;
}
.message{
	background:#acc586;
	padding:7px 13px;
	border:1px solid #c0dc96;
	font-size:13px;
	color:#2e4c00;
	font-weight:bold;
	text-shadow:1px 1px 1px #c3dba0;
	margin: 5px 0;
	display:block;
	text-align:center;
}
